<div id="footer-global">
  <div class="footer-image-band"></div>
  
  <div class="footer-inner text-white">
    <div class="footer-left">
      <a class="link-logo" href="/">
        {% assign shop_title = 'general.shop.title' | t %}
        {% include 'inline-icon' with svg: 'logo.svg', alt: shop_title, class: 'logo-main' %}
      </a>
      {% include 'nav-list', handle: 'main-menu', class: 'main-menu-list' %}
      {% include 'nav-list', handle: 'footer', class: 'secondary-menu-list' %}
    </div>
    
    <div class="footer-right">
      {% assign copyright_date = 'now' | date: '%Y' %}
      <span class="copyright-info">
        {{ 'footer.bottom.copyright' | t: date: copyright_date }}
      </span>
      {% include 'currency-picker' %}
    </div>
  </div>
</div>