<?xml version="1.0" encoding="UTF-8"?>
<svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>Black/Search</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Header/Cart-Filled" transform="translate(-1242.000000, -48.000000)" fill="#000000">
            <g id="Group-3" transform="translate(1185.000000, 44.000000)">
                <g id="Black/Search" transform="translate(57.000000, 4.000000)">
                    <path d="M2.36113614,8.84356513 C1.49531832,7.97774731 1.01860921,6.8267189 1.01860921,5.60235064 C1.01860921,4.37798237 1.49531832,3.22695397 2.36113614,2.36113614 C3.22695397,1.49582762 4.37747307,1.01860921 5.60235064,1.01860921 C6.8267189,1.01860921 7.977238,1.49582762 8.84356513,2.36113614 C9.70938296,3.22695397 10.1855828,4.37798237 10.1855828,5.60235064 C10.1855828,6.8267189 9.70938296,7.97774731 8.84356513,8.84356513 C7.977238,9.70938296 6.8267189,10.1860921 5.60235064,10.1860921 C4.37747307,10.1860921 3.22695397,9.70938296 2.36113614,8.84356513 L2.36113614,8.84356513 Z M13,12.2798433 L9.90597453,9.18632713 C10.7458178,8.18146915 11.204192,6.92756121 11.204192,5.60235064 C11.204192,4.10601371 10.6220568,2.6993144 9.56372184,1.64097943 C8.50538688,0.583153771 7.09868756,0 5.60235064,0 C4.10550441,0 2.69880509,0.583153771 1.64097943,1.64097943 C0.582644466,2.6993144 0,4.10601371 0,5.60235064 C0,7.09868756 0.582644466,8.50589618 1.64097943,9.56372184 C2.69880509,10.6220568 4.10550441,11.2047013 5.60235064,11.2047013 C6.92756121,11.2047013 8.18146915,10.7458178 9.18581783,9.90648384 L12.2798433,13 L13,12.2798433 Z" id="Fill-1"></path>
                </g>
            </g>
        </g>
    </g>
</svg>