<?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>Black/X</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Line-Item" transform="translate(-409.000000, -85.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Black/X---Fill" transform="translate(406.000000, 82.000000)">
                <path d="M10.8928571,9.46428571 L18.9285714,9.46428571 L18.9285714,10.8928571 L10.8928571,10.8928571 L10.8928571,18.9285714 L9.46428571,18.9285714 L9.46428571,10.8928571 L1.42857143,10.8928571 L1.42857143,9.46428571 L9.46428571,9.46428571 L9.46428571,1.42857143 L10.8928571,1.42857143 L10.8928571,9.46428571 Z" id="Combined-Shape" transform="translate(10.178571, 10.178571) rotate(45.000000) translate(-10.178571, -10.178571) "></path>
            </g>
        </g>
    </g>
</svg>