<div class="product-more">

  <div class="collection-title-tag">
    <h2>{{ collection.title }}</h2>
    <p>{{ 'product.more.vendor' | t: vendor: product.vendor }}</p>
  </div>

  <div class="collection-content wrapper">
    {% include 'collection-list' with collection: collection, content: false exclude: exclude, title: 'You might also like…', show_button: true %}
  </div>
</div>