<button class="slider-button prev js-slider-button-prev">
  {% include 'inline-icon' with svg: 'icon-arrow-left.svg', alt: 'Previous', class: 'current-color-stroke' %}    
</button>
<button class="slider-button next js-slider-button-next">
  {% include 'inline-icon' with svg: 'icon-arrow-right.svg', alt: 'Next', class: 'current-color-stroke' %}    
</button>