<div id="page-cart" class="wrapper">
  {% if cart.item_count > 0 %}
    <h1 class="ta-center">{{ 'cart.filled.title' | t }}</h1>
  {% endif %}
  <div class="cart-page-contents js-cart-page-contents" data-cart-item-count="{{ cart.item_count }}">
    {% include 'cart-contents' %}
  </div>
</div>