<div id="page" class="wrapper valign-center">
  <div class="page-inner">
    <h1 class="page-title ta-center">{{ page.title }}</h1>
    <div class="page-content">{{ page.content }}</div>
  </div>
</div>