#page-product {
  
  #product-top {
    background-color: $light-white;
    padding-top: $line-global*3;
    padding-bottom: $line-global*2;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .product-images {
    grid-column: 3/6;
    position: relative;
  }

  .slider-button {
    &.prev {
      left: auto;
      right: 100%;
      margin-right: $line-global;
    }
    &.next {
      right: auto;
      left: 100%;
      margin-left: $line-global;
    }
  }

  .single-image:not(:first-of-type) {
    display: none;
  }

  .image-counter {
    text-align: center;
    margin-top: $line-global;
    color: $text-color;
  }

  .product-actions {
    grid-column: 7/11;
  }

  .product-title {
    margin-top: $line-global;
  }

  #add-to-cart-form {
    margin-top: $line-global*2;
  }

  .product-option-row {
    padding: $line-global 0;
    border-top: $standard-border;
    @include flex-space-between;
    &:last-of-type {
      border-bottom: $standard-border;
    }
  }

  .styled-select {
    select {
      text-align-last: right;
      &:not(:hover) {
        color: $light-black;
      }
    }
  }

  .variant-radio {
    @extend .visually-hidden;

    & + label {
      display: inline-block;
      cursor: pointer;
      color: $text-color;
    }

    &:checked + label {
      color: $black;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:not(:first-of-type) {
      & + label {
        margin-left: $line-global/4;
      }
    }
  }

  #add-to-cart-button {
    margin-top: $line-global;
  }

  #product-bottom {
    padding-top: $line-global*3;
    padding-bottom: $line-global*3;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: $line-global*5;
  }

  .info-section {
    h3 {
      margin-bottom: $line-global;
    }
  }

  .description {
    grid-column: 3/11;
    p {
      @extend .p-large;
    }
  }

  .shipping,
  .returns {
    h3 {
      color: $text-color;
    }
  }

  .shipping {
    grid-column: 3/7;
    grid-row: 2;
  }

  .returns {
    grid-column: 7/11;
    grid-row: 2;
  }









}